body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2A62FF;
}

.resumo {
    display: flex;
    width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-side {
    width: 30%;
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

.profile {
    position: relative;
}

.fotoflavio {
    position: relative;
    background-color: #2A62FF;
    padding: 30px 0;
}

.fotoflavio img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -50px;
    border: 5px solid #fff;
}

.left-side h3 {
    color: #2A62FF;
    margin-bottom: 10px;
}

.left-side p {
    margin: 10px 0;
    font-size: 14px;
}

.right-side {
    width: 70%;
    padding: 20px;
}

.header {
    text-align: center;
    border-bottom: 2px solid #2A62FF;
    padding-bottom: 20px;
}

.header nav {
    background-color: #2A62FF;
    padding: 10px 0;
    margin-bottom: 20px;
}

.header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header nav ul li {
    margin: 0 15px;
}

.header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header h2 {
    margin: 5px 0 0;
    font-size: 18px;
    color: rgb(75, 73, 73);
}

.right-side .experienciaprofissional, .curso, .contato {
    margin-top: 20px;
}

.right-side h3 {
    color: #2A62FF;
    margin-bottom: 10px;
}

.trabalho {
    margin-bottom: 20px;
}

.trabalho h4, .trabalho h5 {
    margin: 0;
    font-weight: normal;
}

.trabalho h5 {
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.trabalho p {
    font-size: 14px;
    margin-top: 5px;
}

.stars {
    color: #2A62FF;
}

.curso p {
    font-size: 14px;
    margin: 5px 0;
}

.contato {
    margin-top: 20px;
}

.contatos h3 {
    color: #2A62FF;
    margin-bottom: 20px;
    text-align: left;
}

.contatos form {
    display: flex;
    flex-direction: column;
}

.contatos label {
    margin-bottom: 5px;
    color: #2A62FF;
    font-weight: bold;
}

.contatos input, .contatos textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.contatos button {
    padding: 10px 20px;
    background-color: #2A62FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contatos button:hover {
    background-color: #1b45c7;
}
